body{
    background-color: #fca758;
}

h1{
    margin-left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8a2c0f;
}

b{
    margin-left: 50px;
    color: hwb(19 2% 42%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box1 {
    margin-left: 20px;
    width: 100px; 
    height: 20px; 
    background-color: #ff843c; 
    transition: box-shadow 0.5s ease; 
} 

.box1:hover { 
    box-shadow: 10px 10px 20px rgba(206, 58, 0, 0.5); 
} 


.box2 { 
    margin-left: 20px;
    width: 100px; 
    height: 20px; 
    background-color: #ff8839; 
    transition: box-shadow 0.3s ease; 
} 

.box2:hover { 
    box-shadow: 10px 10px 20px rgba(160, 37, 0, 0.5); 
} 

a{
    margin-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }

  h2{
    margin-left: 25px;
  }


  p{
    margin-left: 20px;
    font-size: 20px;
  }

  h4{
    font-size: 20px;
  }

  img{
    margin-left: 30px;
  }